* {
  margin: 0;
  padding: 0;
}

:root {
  /* Backgrounds Colors */

  --body-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);

  /*Text Colors*/

  --span-color: hsl(277, 64%, 61%);
  --main-color: hsl(0, 0%, 100%);
  --content-color: hsla(0, 0%, 100%, 0.66);
  --stats-color: hsla(0, 0%, 100%, 0.5);
}

.card-presentation {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-background);
  height: 100vh;

  /* Colors */
  --_white: var(--white, var(--main-color)); /* Declaring a private propertie */
  color: var(--_white);
}

.box {
  background-color: var(--card-background);
  height: 28.2rem;
}

/* Box-1 */
.box-1 {
  width: 36%;
    border-radius: 15px 0 0 15px;
}

header {
  width: 68%;
  margin: 1.6rem auto 1rem auto;
  font-size: clamp(1rem, 0.4vw + 0.8rem, 2rem)
}

header span {
  color: var(--span-color);
}

.content {
  width: 68%;
  margin: 30px auto 45px auto;
    font-size: clamp(1rem, 0.5vw + 0.66rem, 1.8rem);
  --_content-color: var(--cont-white, var(--content-color));
  color: var(--_content-color);
}

.content p {
  width: 88%;
}

.statdistics {
  margin: 0 auto 40px auto;
  width: 70%;

  /* Flexbox */
  display: flex;
  gap: 4rem;
  justify-content: flex-start;
  flex: 1;
}

.title-statdistics {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px auto 8px auto;
  /* Colors */
  --_white: var(--white, var(--main-color)); /* Declaring a private propertie */
  color: var(--_white);
}
.title-stats-1 {
  text-transform: none;
}

.content-statdistics {
  text-transform: uppercase;
  /* Colors */
  --_white: var(
    --white,
    var(--stats-color)
  ); /* Declaring a private propertie */
  color: var(--_white);
}

.s-box {
  font-weight: 700;
}

.attribution {
  margin: 0 auto;
  width: 50%;
}
.attribution p {
  width: 80%;
}

.attribution a {
  text-decoration: none;
  color: var(--span-color);
  font-weight: 600;
}
/* END - Box-1 */

/* Box-2 */
.box-2 {
  width: 30%;

  background-image: url(images/image-header-desktop.jpg);
  background-color: var(--span-color);
  background-blend-mode: multiply;
  background-size: cover;
      border-radius: 0 15px 15px 0;
}

.box-2 img {
  width: 100%;
  height: 100%;
}
/* END - Box-2 */




/* Media / Mobile Responsive */
@media (width >= 30em) and (width < 75em) {

  header{
    width: 90%;
  }

  .card-presentation{

    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }


  .content{
    width: 88%;
    margin-bottom: 20px;
  }

  .content p {

    width: 100%;
    text-align: center;
  }

  .box-1{
    width: 40%;
    height: 68%;
    border-radius: 0 0 15px 15px;
  }

  .box-2{
    width: 40%;
    height: 28%;
    border-radius: 15px 15px 0 0;
  }

  .statdistics{
    flex-direction: column;
    align-self:  center;
    width: 30%;
    gap: 1.5rem;
  }
  
  .attribution{
    width: 70%;
    margin: 0 auto 0 auto;
  }

  .attribution p{ 
    width: 100%;
  }
}
@media (width >= 75em) and (width < 98em) {


  header{
  
    width: 75%;
  }

  .content{

    margin: 30px auto;
  }

.statdistics{
    gap: 2rem;
  }

  .attribution {

    width: 90%;
    margin: 0 0px 0 80px;

  }


  .box-2{

    width: 38%;
  }
}
